@{
    ViewData["Title"] = "Novos Produtos";
}

<div class="row">
    <div class="div col-mb-4">
        <form action="">
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label class="control-label">Valor</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <label class="control-label">Estoque</label>
                <input class="form-control" type="text">
            </div>
            <div class="form-group">
                <input class="dpn dpm-primary" type="submit" value="Criar">
            </div>
        </form>
    </div>
</div>